# Node.js
node_modules/
.next/
.trae
out/
build/
dist/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Go build artifacts
backend/tmp/
backend/bin/

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Env files
.env
.env.*
!.env.example
!.env.prod.example

# Docker
*.pid
tmp/

# Build caches
.turbo/
.vercel/
.cache/
/backend/test.pdf
/backend/internal/config/config_test.go
/backend/api

#doc
/项目规划/Example/
/.promptx
/tests

/backend/.gocache/
/backend/.gomodcache/
