apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    jsonData:
      derivedFields:
        - datasourceUid: prometheus
          matcherRegex: 'correlation_id=([a-zA-Z0-9-]+)'
          name: 'TraceID'
          url: '$${__value.raw}'

  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
