server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker-containers
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: network
            values: [phresume_app-network]

    relabel_configs:
      - source_labels: [__meta_docker_compose_service]
        target_label: service
      - source_labels: [__meta_docker_container_name]
        regex: /?(.*)
        target_label: container

    pipeline_stages:
      - json:
          expressions:
            log_msg: msg
            correlation_id: correlation_id
      - labels:
          correlation_id:
      # 若想用 log_msg 替换原始日志，可启用以下配置
      # - output:
      #     source: log_msg
